{% extends "cochera/base.html" %}

{% block content %}

<table class="table table-striped table-condensed grilla-pagos">
	<tr>
		<th>Lugar</th>
		{% for periodo in pagos|first %}
		<th class="text-center">{{ periodo }}/{{ anio }}</th>
		{% endfor %}
	</tr>

	{% for clave, valor in pagos.items %}
	<tr>
		<th>{{ clave }}</th>

		{% for periodo, pago in valor.items %}
		<td>
			{% if pago.importe > 0 %}
			<a href="{{ base_url }}/pago/{{ pago.id }}"><img src="{{ base_url }}/static/admin/img/icon-yes.gif" alt="si" title="{{ pago.importe }}"></a>
			{% else %}
			<img src="{{ base_url }}/static/admin/img/icon-no.gif" alt="no">
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}