{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" media="all"/>
<script src="{% static "js/functions.js" %}"></script>
{% endblock %}

{% block content %}
<form class="form-horizontal" name="grilla" method="GET" action="{{ baseurl }}/{{ appname }}/tabla">
	<table class="table-overview table-bordered table-condensed" style="width: 100%;">
		<tbody>
			<tr class="vertical-center">
				<th><strong>A&ntilde;o</strong></th>
				<td>
					<div class="form-group-sm">
					<select name="anio" id="anio" class="form-control">
						{% for anio_opcion in rango_anios %}
						<option {% if anio_opcion == anio %} selected="true"{% endif %}>{{ anio_opcion }}</option>
						{% endfor %}
					</select>
					</div>
				</td>
				<th><strong>Ingresos:</strong></th>
				<td>{{ total_pagos }}</td>
				<th><strong>Gastos:</strong> </th>
				<td>{{ total_gastos }}</td>
				<th><strong>Retiros:</strong> </th>
				<td>{{ total_retiros }}</td>
				<th><strong>Saldo:</strong> </th>
				<td><strong>{{ total }}</strong></td>
			</tr>
		</tbody>
	</table>
</form>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th class="text-center">Lugar</th>

			{% with pagos|first as encabezado %}
			{% for periodo in encabezado.periodos.keys %}
			<th class="text-center">{{ periodo }}/{{ anio }}</th>
			{% endfor %}
			{% endwith %}
		</tr>
	</thead>

	<tbody>
		{% for clave, detalle in pagos.items %}
		<tr>
			<th class="text-center">
				{% if perms.cochera.change_lugar %}
				<a href="{{ baseurl }}/cochera/lugar/{{ detalle.datos.lugar_id }}" title="{{ detalle.datos.titular }}" class="bs-tooltip">{{ clave }}</a>
				{% else %}
				{{ clave }}
				{% endif %}
			</th>

			{% for periodo, pago in detalle.periodos.items %}
			<td class="text-center">
				{% if pago.importe > 0 %}
					{% if perms.cochera.change_pago %}
					<a href="{{ baseurl }}/cochera/pago/{{ pago.id }}"><img src="{% static "admin/img/icon-yes.gif" %}" alt="si" title="Importe: ${{ pago.importe }}<br>Fecha: {{ pago.fecha_pago|date:"d/m/Y" }}" class="bs-tooltip"></a>
					{% else %}
					<img src="{% static "admin/img/icon-yes.gif" %}" alt="si" title="Importe: ${{ pago.importe }}<br>Fecha: {{ pago.fecha_pago|date:"d/m/Y" }}" class="bs-tooltip">
					{% endif %}
				{% else %}
				<img src="{% static "admin/img/icon-no.gif" %}" alt="no">
				{% endif %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}