{% extends 'admin/change_list.html' %}
{% load cocheratags %}

{% block result_list %}

<table class="table-overview table-bordered table-condensed" style="width: 100%;">
	<caption><strong>Totales</strong></caption>
	<tbody>
		<tr>
			<th><strong>Ingresos:</strong></th>
			<td>{{ total_pagos }}</td>
			<th><strong>Gastos:</strong> </th>
			<td>{{ total_gastos }}</td>
			<th><strong>Retiros:</strong> </th>
			<td>{{ total_retiros }}</td>
			<th><strong>Saldo:</strong> </th>
			<td><strong>{{ total }}</strong></td>
		</tr>
	</tbody>
</table>

<!--{% result_list cl %}-->
{{ block.super }}

{% endblock %}