.vertical-center,
tr.vertical-center th,
tr.vertical-center td
{
	vertical-align: middle;
}

.plano-grafico
{
	float: right;
	margin: 5px 20px;
}

.plano-tabla
{
	width: 80%;
	float: left;
}

.alerta-atraso,
tr.alerta-atraso td
{
	font-weight: bold !important;
	color: #FF5546;
}