.vertical-center,
tr.vertical-center th,
tr.vertical-center td
{
	vertical-align: middle;
}

.plano-container
{
	min-width: 1000px;
}

.plano-grafico
{
	float: right;
	margin: 30px 20px;
}

.plano-tabla
{
	width: 80%;
	float: left;
}

tr.alerta-atraso td.dias-atraso
{
	font-weight: bold !important;
	color: #FF5546;
}